.App {
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-image: linear-gradient(to bottom, #99b3e6, #1f3d7a);
  border-color: black;
}

.jumbotron {
  background: none;
}

.gamelist {
  cursor: pointer;
  margin-top: 50px;
}

.tableau {
  background-color: rgba(94, 131, 146, 0.883);
  text-align: center;
  border-style: solid;
  font-family: "Audiowide", cursive;
  font-size: 25px;
  color: black;
}

.font {
  font-family: "Audiowide", cursive;
  font-size: 30px;
  color: black;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  background: linear-gradient(to right, #3a0331 0%, #da57d5 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 5px 5px blue;
  color: #40a49a;
  font-family: "Press Start 2P", cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loader {
  position: absolute;
  left: 50%;
  top: 80%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searchbar {
  margin-top: -50px;
  margin-bottom: 50px;
}

.buttonclean {
  margin-top: -50px;
  margin-bottom: 50px;
}

.inputscore {
  width: 200px;
  display: inline-block;
  margin-right: 50px;
}

.pagination {
  margin: 0 300px;
  margin-bottom: -40px;
}

.chosengame {
  margin-top: 50px;
  margin-bottom: 30px;
}

.inputname {
  width: 25%;
  display: inline-block;
}

.textcardlist {
  float: left;
  margin-left: -250px;
  font-size: 30px;
  margin-top: -10px;
  font-family: "Audiowide", cursive;
  background: linear-gradient(#1657f5 0%, #1657f5 50%, #163287 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-family: "Audiowide", cursive;
  font-size: 30px;
  background: linear-gradient(#1657f5 0%, #1657f5 50%, #163287 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.favicon {
  margin-left: 10px;
}

.start {
  margin-top: 30px;
}

.addplayerbutton {
  margin-left: 20px;
  margin-top: -3px;
  margin-bottom: 0px;
}

.footer {
  background: linear-gradient(to bottom, #99b3e6, #1f3d7a);
  position: relative;
  height: 40px;
  margin-top: 50px;
  width: 100%;
}

.footergame {
  float: left;
  list-style: none;
  margin-left: -40px;
}

.footermentions {
  float: left;
  list-style: none;
}

.footername {
  float: right;
  color: white;
  list-style: none;
  margin-top: 8px;
  margin-right: 20px;
}

.alert {
  color: red;
}
